#Content{
    max-width: 60%;
    border: 1px solid darkgray;
    padding: 50%;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size: 1.5em;
}
h4{
    text-align: center;
    color: #035f9c;
}
#logo{
    scale: 0.5;
    display: block;
    margin: 0 auto;
}