#Content{
    max-width: 40%;
    border: 1px solid darkgray;
    padding: 100px;
    margin: 40px auto;
}
h1{
    text-align: center;
    font-size: 3em;
}
h4{
    text-align: center;
    color: #035f9c;
    margin-bottom: 0;
}
hr{
    margin: 0 auto;
}
li{
    margin: 16px auto;
}
footer{
    text-align: center;
}
#logo{
    height: 25%;
    width: 25%;
}